.IndexPage {
  // background-color: #d7e7f3;
  background: url('static/bg.png');
  background-color: #d7e7f3;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: Helvetica;
}

.introTitle {
  font-weight: 400;
  line-height: 26.4px;

  /* The Exposomics Proje: */
  font-family: Helvetica;
  font-size: 50px;
  color: #26bd14;
  letter-spacing: -1.3px;
  margin-bottom: 0;
}

.subtitle {
  opacity: 0.8;
  font-size: 16px;
  color: #555555;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 0;
}

.submitZone {
  padding: 14px 72px;
  width: 365px;
  height: 59px;
  background: #26bd14;
  border-radius: 6px;
  /* SUBMIT: */
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  margin-left: -45px;
  opacity: 0.9;
}

.grass {
  width: 100%;
  height: 43%;
}

button:disabled {
  opacity: 0.35;
  cursor: not-allowed;
  background: #555555;
}

.joinChallenge {
  font-size: 24px;
  font-weight: bold;
  color: #26bd14;
}
