.LivePlaceInputGroup {
}

.addItems {
  opacity: 0.8;
  font-size: 22px;
  color: #555555;
  letter-spacing: 0;
  line-height: 36px;
}

.addButton {
  padding: 4px 8px;
  background: #26bd14;
  border-radius: 6px;
  /* SUBMIT: */
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  opacity: 0.8;
}
